html, body {
	padding: 0;
	margin: 0;
}
.box {
	height:1200px;
	background: #efefef;
}
ul {
	padding: 0;
	margin: 0;
	li {
		padding: 0;
		margin: 0;
		border-top: 1px solid #ccc;
		height: 701px;
		background-position: center 0px;
		background-repeat: no-repeat no-repeat;
		background-size: 217px 701px;
		background-attachment: fixed;
		display: block;
		@for $i from 1 to 6 {
			&:nth-child(#{$i}) {
				background-image: url(../images/krystalrae-2015-spring-outfit-#{$i}-900px.jpg);
			}
		}
	}
}
