.box {
	height:1200px;
}
ul {
	li {
		border-top: 1px solid #ccc;
		height: 701px;
		background-position: center 0px;
		background-repeat: no-repeat no-repeat;
		background-size: 217px 701px;
		background-attachment: fixed;
		display: block;
		&:nth-child(1) {
			background-image: url(../images/krystalrae-2015-spring-outfit-1-900px.jpg);
		}
		&:nth-child(2) {
			background-image: url(../images/krystalrae-2015-spring-outfit-2-900px.jpg);
		}
		&:nth-child(3) {
			background-image: url(../images/krystalrae-2015-spring-outfit-3-900px.jpg);
		}
		&:nth-child(4) {
			background-image: url(../images/krystalrae-2015-spring-outfit-4-900px.jpg);
		}
		&:nth-child(5) {
			background-image: url(../images/krystalrae-2015-spring-outfit-5-900px.jpg);
		}
	}
}
